.left-column-container.column.col-md-3
      / for show view
      / %h2 Admin
      / %ul
      /   %li= link_to('Edit badge', edit_badge_path(@badge), :method => :get)
      /   %li= button_to('Delete badge', badge_path(@badge), :method => :delete, :confirm => 'Are you sure?')
      / %h2 Menu
      / %ul
      /   - if @badge.claimcode == "" || !@badge.claimcode
      /     %li= link_to('Make a submission', submit_badge_path(@badge), :method => :get)
      /   %li= link_to('Back to main page', badges_path)
      / %h3 Badge Earners
      / %ul
      /   - @badge.submissions.each do |submission|
      /     - if submission.get_status == 'Approved'
      /       %li= submission.user.name