.container
  .content.row
    = render partial: 'left_column'
    .right-column-container.column.container.col-md-8
      .header-container.row
        %h1 Edit Badge
      = form_tag badge_path(@badge), :method => :put, :multipart => true do
        = render :partial => "badge_form"
        = submit_tag 'Save Changes', :class => "btn btn-primary"
