.container
  .content.row
    .left-column-container.column.col-md-3
    .right-column-container.column.container.col-md-8
      .header-container.row
        %h1 All Badges
        - @badges.each do |badge|
          = render partial: 'square_badge_card', :locals => {:badge => badge}
