.container
  .content.row
    = render partial: 'left_column'
    .right-column-container.column.container.col-md-8
      .header-container.row
        %h1 Create New Badge
      = form_tag badges_path, :multipart => true do
        = render :partial => "badge_form"
        = submit_tag 'Create Badge', :class => "btn btn-primary"
