.container
  .content.row
    = render partial: 'left_column'
    .right-column-container.column.container.col-md-8
      .header-container.row
        %h1 All Submissions
      %table#submissions
        %thead
          %tr
            %th Name
            %th Email
            %th Badge
            %th Date
            %th Status
            %th Info
            %th Action
        %tbody
          = render :partial => 'submission', :collection => @submissions
